.header {
  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.07));
  background: var(--background);
  padding: 16px 32px 16px 32px;
  display: flex;
  align-items: center;
  z-index: 10;
}

.logo {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
  flex: 1;
  text-align: center;
}

.header-left {
  flex: 1;
  text-align: left;
  display: flex;
  gap: 32px;
}

.header-right {
  flex: 1;
  text-align: right;
  display: flex;
  gap: 32px;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .header-right {
    flex: none;
  }

  .header-left {
    display: none;
  }

  .nav-about-button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
}

.mobile-menu-button {
  background: url("/menu-icon.png") no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  opacity: 0.8;
}
