.about-section-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  padding-left: 40%;
}

.about-section-text {
  font-size: 20px;
  border-right: 64px solid var(--dusty-rose);
  padding-right: 24px;
  text-align: right;
  background: radial-gradient(ellipse, var(--background), transparent);
}

.about-section-animation {
  animation: appear-from-right 1s ease;
}

@keyframes appear-from-right {
  from {
    transform: translateX(120px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .about-section-container {
    align-items: flex-start;
    padding: 24px;
    padding-left: 64px;
  }

  .about-section-text {
    border-right: none;
  }
}
