.nav-button {
  font-weight: 600;
  font-size: 18px;
  border-bottom: 3px solid transparent;
  position: relative;
  overflow: hidden;
}

.nav-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: var(--dusty-rose);
  transition: width 0.4s;
}

.nav-button:hover::after {
  width: 100%;
}

.selected::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: var(--dusty-rose);
  transition: width 0.4s;
}
