.author {
  background: url("/cori.png") no-repeat;
  background-size: contain;
  background-position: -160px 0;
  position: sticky;
  min-height: 80vh;
  min-height: 80dvh;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.button-bar {
  display: flex;
  gap: 12px;
  margin-left: 84px;
  position: sticky;
  bottom: 12px;
  left: 32px;
  z-index: 10;
  width: fit-content;
}

.button-bar button {
  width: 24px;
  height: 24px;
  background-size: contain;
}

.facebook-button {
  background: url("/facebook-icon.png");
}

.youtube-button {
  background: url("/youtube-icon.png");
}

@media screen and (max-width: 768px) {
  .author {
    background-size: cover;
    background-position: 10% 0;
    min-height: 68vh;
    min-height: 68dvh;
  }

  .button-bar {
    flex-direction: column;
    margin-left: 12px;
    gap: 0;
  }
}
