.poem-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flower {
  background: url("/poem-rose.png") no-repeat;
  background-size: contain;
  background-position: -20%;
  position: sticky;
  bottom: 0;
  left: 0;
  height: 60%;
  z-index: 1;
}

.poem-container h1 {
  font-size: 40px;
  color: var(--dusty-rose);
  margin-bottom: 8px;
  /* position: sticky; */
  background-color: var(--background);
  /* top: 0px; */
  padding-top: 32px;
  /* z-index: 3; */
  width: 100%;
}

.poem-page-verse {
  background: radial-gradient(ellipse, var(--background), transparent);
  width: fit-content;
  height: fit-content;
  padding: 8px;
  font-size: 20px;
  z-index: 2;
  overflow: visible;
}
