.poem-page-container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poem-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding-top: 32px;
  padding-bottom: 48px;
}

.poem-container h1 {
  font-size: 40px;
  color: var(--dusty-rose);
  margin-bottom: 8px;
  background-color: var(--background);
  width: 100%;
  height: 100%;
}

.poem-page-verse {
  background: radial-gradient(ellipse, var(--background), transparent);
  width: fit-content;
  height: fit-content;
  padding: 8px;
  font-size: 20px;
  z-index: 2;
  overflow: visible;
}

.flower {
  background: url("/poem-rose.png") no-repeat;
  background-size: contain;
  background-position: -100px 80px;
  position: sticky;
  bottom: 0;
  left: 0;
  height: 400px;
  z-index: 1;
  overflow: hidden;
}
