@import "tailwindcss";

:root {
  --background: #f1e7e7;
  --dusty-rose: #cd7674;
  --mobile-max-width: 768px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f5f2;
  }
}

body {
  background: var(--background);
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
}
