.iframe-placeholder {
  width: 320px;
  height: 160px;
}

.shimmer {
  background: linear-gradient(90deg, #ededed 30%, #dcdcdc 50%, #ededed 70%);
  background-size: 400%;
  animation: shimmer 1.5s infinite linear;
}
@keyframes shimmer {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}
