.song-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.iframe-wrapper {
  width: 320px;
  height: 180px;
  background-color: grey;
}

.song-title {
  border: 1px solid grey;
  padding: 4px 16px;
}
