.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--background);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideIn 0.6s ease-out;
}

.menu-options {
  height: calc(100dvh - 176px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.close-button {
  align-self: flex-end;
  justify-self: flex-start;
  padding: 32px;
  font-weight: bold;
  font-size: 16px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.mobile-menu.slide-out {
  animation: slideOut 0.6s ease-out;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
